
@import url("../modules/menu/menu.css");
@import url("../modules/slider/slider.css");
@import url("../modules/slide/slide.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  background: #f1e6e8;
}

.night {
  background: #4d000e;
  color: #a6cecf;
}