@import url("../modules/menu/menu.css");
@import url("../modules/slider/slider.css");
@import url("../modules/slide/slide.css");
@import url("../modules/structure/structure.css");
@import url("../modules/infobar/infobar.css");
@import url("../modules/table/table.css");
@import url("../modules/data-view/data-view.css");
@import url("../modules/preloader/preloader.css");
@import url("../modules/board/board.css");

/*@import url("theme.css")*/

:root {

  --bg: #f1e6e8;
  --text-color-speakable: #2525c2;
  --text-color-reading: #2525c293;
  --icon-speakable-bg: #ffffde;
  --icon-expand-border: #ffffff;
  --appheader-title-color: #1e20c0;
  --preloader-color: #2525c2;
  --preloader-bg: #9899c244;

  --menuOpenedBg: rgba(85, 74, 123, 0.24);
  --menuBg: #8a2134;
  --menuTextColor: white;

  --boardGoodColBorder: #92ccb3;
  --boardFailedColBorder: #db9292;
  --boardLearnColBorder: #92b4db;
  --boardItemPlaceholder: rgba(130, 200, 205, 0.3);
  --boardItem:#fbf2f2;
  --boardItemLapsedBorder:rgba(159, 0, 0, 0.26);
  --boardItemLapsedLineTextColor:rgb(90, 30, 78);
  --boardRemoveItemTextColor:#e6004d;
  --boardItemMenuExpandedBorder: #a6cecf;

  --slideInfoBg: #dadada;
  --slideInfoColor: var(--text-color);
  --slideTagGrammarBg: #dcfeff;
  --slideTagOnomatBg: #f1f0e6;
  --slideTagTermShadow: #b1a9aa;
  --slideReadableTextBorder: rgba(56, 119, 255, 0.514);
  --currentSlideIndexTextColor: #4242fc;

  --tableAddColBorder: gray;
  --tableAddColBorderHover: #e6004d;
  --tableAddColBorderActive: rgba(255, 255, 255, 0.5);
  --tableCellBorder: gray;
  --tableReadableCellShadow: rgba(255, 0, 0, 0.158);
  --tableDragOverCellBg: rgba(154, 255, 154, 0.5);
  --tableDraggingBg: rgba(135, 207, 235, 0.63);
  --tablePlaceholderBorder: #666;
  --tablePlaceholderBg: #f0f0f0;
  --tableInfoPopupBg:#c5c5c5;
  --tableInfoPopupTextColor:#00005a;
  --tableInfoPopupCloseElBg:gray;
  --tableRevewLevelTextColor:#ffffcb;
  --tableRevewLevelTextColor1:whitesmoke;
}

body.night {
  --bg: #4d000e;
  --text-color: #a6cecf;
  --text-color-speakable: #f7d4ff;
  --text-color-reading: #f7d4ff6e;
  --icon-speakable-bg: #712e52;
  --icon-expand-border: #6b526d;
  --appheader-title-color: #daa7e5;

  --boardGoodColBorder: #00776d;
  --boardFailedColBorder: #9f0000;
  --boardLearnCol: #557ea0;
  --boardItem:#320008;
  --boardItemLapsedBorder:rgb(159 0 0 / 66%);
  --boardItemLapsedLineTextColor:rgba(255, 255, 255, 0.798);
  --boardItemMenuExpandedBorder: #6b526d;

  --slideInfoBg: #555;
  --slideInfoColor: #000;
  --slideTagGrammarBg: #005266;
  --slideTagOnomatBg: #5a5100;
  --slideTagTermShadow: #a1001e;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  background: var(--bg);
  font-family: sans-serif;
  color: var(--text-color);
}

#appBody {
  box-sizing: border-box;
  padding-top:40px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items:stretch;
}

.appView {
  flex: 1 0 auto;
}

select {
  height: 25px;
}

checkbox {
  margin: 0;
}