@import url("../modules/menu/menu.css");
@import url("../modules/slider/slider.css");
@import url("../modules/slide/slide.css");
@import url("../modules/structure/structure.css");
@import url("../modules/infobar/infobar.css");
@import url("../modules/table/table.css");
@import url("../modules/data-view/data-view.css");
@import url("../modules/preloader/preloader.css");
@import url("../modules/board/board.css");
/* @import url("./theme.css"); */

:root {

  --bg: #f1e6e8;
  --text-color: #141f76;
  --table-text-color-speakable: #2525c2;
  --table-text-color-reading: #2525c293;
  --icon-speakable-bg: #dcd6f5;
  --appheader-title-text-color: #1e20c0;
  --preloader-color: #2525c2;
  --preloader-bg: #9899c244;

  --button-primary: #fbf2f2;
  --button-secondary: #c4bfca;

  --menuOpenedBg: rgba(85, 74, 123, 0.24);
  --menuBg: #8a2134;
  --menuTextColor: white;

  --boardGoodColBorder: #92ccb3;
  --boardFailedColBorder: #db9292;
  --boardLearnColBorder: #92b4db;
  --boardItemPlaceholder: rgba(130, 200, 205, 0.3);
  --boardItem:var(--button-primary);
  --boardItemLapsedBorder:rgba(159, 0, 0, 0.26);
  --boardItemLapsedLineTextColor:rgb(90, 30, 78);
  --boardRemoveItemTextColor:#e6004d;
  --boardItemMenuExpandedBorder: #a6cecf;

  --slideInfoBg: #c4bfca;
  --slideInfoColor: var(--text-color);
  --slideTagGrammarBg: #dcfeff;
  --slideTagOnomatBg: #f1f0e6;
  --slideTagTermShadow: #b1a9aa;
  --slideReadableTextBorder: rgba(56, 119, 255, 0.514);
  --slideSpeakableLineBg: #c4bfca;
  --currentSlideIndexTextColor: var(--text-color);

  --tableAddColBorder: gray;
  --tableAddColBorderHover: #e6004d;
  --tableAddColBorderActive: rgba(255, 255, 255, 0.5);
  --tableCellBorder: gray;
  --tableReadableCellShadow: rgba(255, 0, 0, 0.158);
  --tableDragOverCellBg: rgba(154, 255, 154, 0.5);
  --tableDraggingBg: rgba(135, 207, 235, 0.63);
  --tablePlaceholderBorder: #666;
  --tablePlaceholderBg: #f0f0f0;
  --tableInfoPopupBg:#c5c5c5;
  --tableInfoPopupTextColor:#00005a;
  --tableInfoPopupCloseElBg:gray;
  --tableRevewLevelTextColor:#ffffcb;
  --tableRevewLevelTextColor1:whitesmoke;

  --input-bg:#dfd8e7;
}

body.night {
  --bg: #4d000e;
  --text-color: #a6cecf;
  --table-text-color-speakable: #f7d4ff;
  --table-text-color-reading: #f7d4ff6e;
  --icon-speakable-bg: #712e52;
  --appheader-title-text-color: var(--text-color);

  --button-primary:#320008;
  --button-secondary:#7b848e;

  --boardGoodColBorder: #00776d;
  --boardFailedColBorder: #9f0000;
  --boardLearnCol: #557ea0;
  --boardItem:var(--button-primary);
  --boardItemLapsedBorder:rgb(159 0 0 / 66%);
  --boardItemLapsedLineTextColor:rgba(255, 255, 255, 0.798);
  --boardItemMenuExpandedBorder: #6b526d;
  --currentSlideIndexTextColor: var(--text-color);

  --slideInfoBg: #3b0000;
  --slideInfoColor: var(--text-color);
  --slideTagGrammarBg: #005266;
  --slideTagOnomatBg: #5a5100;
  --slideTagTermShadow: #a1001e;
  --slideSpeakableLineBg: #3b0000;

  --input-bg:#aebdcc;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  background: var(--bg);
  font-family: sans-serif;
  color: var(--text-color);
}

#appBody {
  box-sizing: border-box;
  padding-top:40px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items:stretch;
}

.appView {
  flex: 1 0 auto;
}

select {
  height: 23px;
  box-sizing: border-box;
  background:var(--input-bg);
}

input[type="checkbox"] {
  margin: 0;
  width: 23px;
  height:23px;
  vertical-align: middle;
  
}

.night input[type="checkbox"] {
  filter: sepia(50%) brightness(70%) hue-rotate(170deg) saturate(70%) contrast(100%);
  accent-color:var(--input-bg);
}

button {
  height:25px;
  border:0;
  border-radius: 5px;
  padding: 3px 10px;
  background:var(--button-secondary);
}