
@import url("../modules/menu/menu.css");
@import url("../modules/slider/slider.css");
@import url("../modules/slide/slide.css");
@import url("../modules/structure/structure.css");
@import url("../modules/infobar/infobar.css");
@import url("../modules/table/table.css");

:root {
  --bg: #f1e6e8;
  --text-color-speakable: #2525c2;
  --icon-speakable-bg: #ffffde;
  --icon-expand-border: #ffffff;
  --appheader-title-color: #1e20c0;
}

body.night {
  --bg: #4d000e;
  --text-color: #a6cecf;
  --text-color-speakable: #f7d4ff;
  --icon-speakable-bg: #712e52;
  --icon-expand-border: #6b526d;
  --appheader-title-color: #daa7e5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  background: var(--bg);
  font-family: sans-serif;
}

.night {
  background: var(--bg);
  color: var(--text-color);
}

#appBody {
  box-sizing: border-box;
  padding-top:60px;
}
