
@import url("../modules/menu/menu.css");
@import url("../modules/slider/slider.css");
@import url("../modules/slide/slide.css");
@import url("../modules/structure/structure.css");
@import url("../modules/infobar/infobar.css");
@import url("../modules/table/table.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  background: #f1e6e8;
  font-family: sans-serif;
}

.night {
  background: #4d000e;
  color: #a6cecf;
}

#appBody {
  box-sizing: border-box;
  padding-top:60px;
}