@import url("../modules/menu/menu.css");
@import url("../modules/slider/slider.css");
@import url("../modules/slide/slide.css");
@import url("../modules/structure/structure.css");
@import url("../modules/infobar/infobar.css");
@import url("../modules/table/table.css");
@import url("../modules/data-view/data-view.css");
@import url("../modules/preloader/preloader.css");
@import url("../modules/board/board.css");

/*@import url("theme.css")*/

:root {

  --bg: #f1e6e8;
  --text-color-speakable: #2525c2;
  --text-color-reading: #2525c293;
  --icon-speakable-bg: #ffffde;
  --icon-expand-border: #ffffff;
  --appheader-title-color: #1e20c0;
  --preloader-color: #2525c2;
  --preloader-bg: #9899c244;

  
}

body.night {
  --bg: #4d000e;
  --text-color: #a6cecf;
  --text-color-speakable: #f7d4ff;
  --text-color-reading: #f7d4ff6e;
  --icon-speakable-bg: #712e52;
  --icon-expand-border: #6b526d;
  --appheader-title-color: #daa7e5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  background: var(--bg);
  font-family: sans-serif;
}

.night {
  background: var(--bg);
  color: var(--text-color);
}

#appBody {
  box-sizing: border-box;
  padding-top:40px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items:stretch;
}

.appView {
  flex: 1 0 auto;
}

select {
  height: 25px;
}