#structureActions {
  padding-top:5px;
  
}

#structure ul {
  padding:0 0 10px 10px;
  list-style-type: none;
  line-height: 180%;
}

#structure ul ul {
  padding-top:10px;
}

.treeCheckbox {
  display:inline-block;
  height:20px;
  width:20px;
}

.collapsibleListCheckbox[type="checkbox"] {
  display: none;
}

.collapsibleListCheckbox[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

.collapsibleListCheckbox[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

