#structureActions {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

#filterCollection {
  height:auto;
  flex: 1 0 auto;
}

label[for="toggleAll"] {
  flex:0 1 auto;
  text-align: center;
}

#structure ul {
  padding:0 0 10px 10px;
  list-style-type: none;
  line-height: 180%;
}

#structure ul ul {
  padding-top:10px;
}

#structureTree ul li {
  display:flex;
  flex-flow: row wrap;
  gap: 5px;
}

#structureTree .treeCheckbox {
  flex:0 1 auto;
}

#structureTree ul ul {
  flex: 1 0 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

#structureTree .collapsibleListCheckbox ~ label {
  flex: 1 1 auto;
}

.treeCheckbox {
  display:inline-block;
  height:20px;
  width:20px;
}

.collapsibleListCheckbox[type="checkbox"] {
  display: none;
}

.collapsibleListCheckbox[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

.collapsibleListCheckbox[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

#globalPoolActions {
  display:none;
}

#menu:has(option[value="global"]:checked) #globalPoolActions {
  display:block;
}

#menu:has(option[value="global"]:checked) #structureActions {
  display:none;
}