.sessions__data {
  width:100%;
}

.sessions__data td {
  padding:5px 10px;
  border:1px solid var(--paleBorder)
}

.sessions__data td .tag {
  padding: 5px 10px;
  margin-right:5px;
  display:inline-block;
}
