#menuContainer {
  position: fixed;
  left:0;
  top:0;
  z-index: 1000;
}

#menuContainer:has(#menu.isOpened) {
  right:0;
  bottom:0;
  background: var(--menuOpenedBg)
}

#menuTrigger {
  position: fixed;
  top: 0;
  z-index: 400;
  width:45px;
  height:35px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#menu {
  z-index: 300;
  width: 75vw;
  transition: transform 0.5s;
  position: fixed;
  top:0;
  bottom:0;
  transform: translateX(-100%);
  padding:8px 10px 5px;
  background: var(--menuBg);
  font-size:13px;
  color:var(--menuTextColor);
  display: flex;
  flex-flow: column nowrap;
}

#menu.isOpened {
  transform: translateX(0%);
}

#globalActions {
  flex: 0 0 auto;
  margin:0 0 13px 65px;
}

#dataActions {
  margin-bottom:15px;
  flex: 0 0 auto;
}

#dataActions select {
  flex:1 1 100%;
}

#sourcesRow {
  margin:0 0 13px 45px;
  display:flex;
}

#reloadCurrentSource {
  height:30px
}
/* 
#dataActions #vocabSources {
  height: 30px;
  width: 100%;
  margin-bottom:15px;
  margin-right:10px;
} */

#dataActions .selectSourcesButton {
  flex:1 1 auto;
  display: flex;
  text-align:center;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
  display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size:16px;
  margin-right:5px;
  height:30px;
  line-height:30px;
  white-space:nowrap;
}

#switchViewRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#showCurrentSessions {
  margin-right: 15px;
}

#switchViewWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#switchViewWrap .switchView {
  flex:0 1 auto;
  padding:3px 9px;
}

#switchViewWrap .switchView:not(:first-child) {
  margin-left:7px;
}

#switchViewWrap .switchView.active {
  background-color: red;
}

body:has(#menu option[value="global"]:checked) #reloadCurrentSource {
  display: none;
}