#menuContainer {
  position: absolute;
  left:0;
  top:0;
  z-index: 1000;
}

#menuContainer:has(#menu.isOpened) {
  right:0;
  bottom:0;
  background: var(--menuOpenedBg)
}

#menuTrigger {
  position: fixed;
  top: 0;
  z-index: 400;
  width:65px;
  height:38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#menu {
  z-index: 300;
  /* max-width: 75vw; */
  width: 75vw;
  transition: transform 0.5s;
  position: fixed;
  top:0;
  bottom:0;
  overflow:auto;
  transform: translateX(-100%);
  padding:50px 10px 5px;
  background: var(--menuBg);
  font-size:13px;
  color:var(--menuTextColor);
}

#menu.isOpened {
  transform: translateX(0%);
}

#globalActions {
  position: absolute;
  right: 10px;
  left:75px;
  top: 8px;
}

#dataActions {
  margin-bottom:15px;
}

#dataActions select {
  flex:1 1 100%;
}

#dataActions #vocabSources {
  height: 30px;
  width: 100%;
  margin-bottom:15px;
}

#switchViewRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#showCurrentSessions {
  margin-right: 15px;
}

#switchViewWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#switchViewWrap .switchView {
  flex:0 1 auto;
  padding:3px 9px;
}

#switchViewWrap .switchView:not(:first-child) {
  margin-left:5px;
}

#switchViewWrap .switchView.active {
  background-color: red;
}

body:has(#menu option[value="global"]:checked) #reloadCurrentSource {
  display: none;
}