#menuContainer {
  position: absolute;
  left:0;
  top:0;
  z-index: 1000;
}

#menuContainer:has(#menu.isOpened) {
  right:0;
  bottom:0;
  background: var(--menuOpenedBg)
}

#menuTrigger {
  position: fixed;
  top: 0;
  z-index: 400;
  height:40px;
  width:60px;
}

#menu {
  z-index: 300;
  width: 80vw;
  transition: transform 0.5s;
  position: fixed;
  top:0;
  bottom:0;
  overflow:auto;
  transform: translateX(-100%);
  padding:50px 5px 5px;
  background: var(--menuBg);
  font-size:13px;
  color:var(--menuTextColor);
}

#menu.isOpened {
  transform: translateX(0%);
}

#globalActions {
  position: absolute;
  right: 5px;
  left:65px;
  top: 5px;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
}

#dataActions {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}