#menuTrigger {
  position: fixed;
  top: 0;
  z-index: 100;
  height:40px;
  width:60px;
}

#menu {
  z-index: 100;
  max-width: 70%;
  transition: transform 0.5s;
  position: fixed;
  top:43px;
  bottom:0;
  overflow:scroll;
  transform: translateX(-100%);
  padding:5px;
  background: #a1001e;
  font-size:13px;
  color:#ffffff;
}

#menu.isOpened {
  transform: translateX(0%);
}

#nightMode {
  width: 35px;
  height: 32px;
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 3px;
  border: 1px solid transparent;
  z-index:1000;
}

#nightMode.nightMode {
  background: #cecece;
  border: 1px solid #cecece;
}

#vocabSources {
  margin-right: 10px;
}