#menuContainer {
  position: relative;
}

#menuTrigger {
  position: fixed;
  top: 0;
  z-index: 100;
  height:40px;
  width:60px;
  z-index:200;
}

#menu {
  z-index: 100;
  max-width: 70%;
  transition: transform 0.5s;
  position: fixed;
  top:0;
  bottom:0;
  overflow:scroll;
  transform: translateX(-100%);
  padding:50px 5px 5px;
  background: #8a2134;
  font-size:13px;
  color:#ffffff;
}

#menu.isOpened {
  transform: translateX(0%);
}

#vocabSources {
  margin-right: 10px;
}

#dataActions {
  position: absolute;
  right: 5px;
  left:65px;
  top: 5px;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
}