#menuContainer {
  position: absolute;
  left:0;
  top:0;
  z-index: 1000;
}

#menuContainer:has(#menu.isOpened) {
  right:0;
  bottom:0;
  background: var(--menuOpenedBg)
}

#menuTrigger {
  position: fixed;
  top: 0;
  z-index: 400;
  width:65px;
  height:38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#menu {
  z-index: 300;
  max-width: 85vw;
  transition: transform 0.5s;
  position: fixed;
  top:0;
  bottom:0;
  overflow:auto;
  transform: translateX(-100%);
  padding:50px 10px 5px;
  background: var(--menuBg);
  font-size:13px;
  color:var(--menuTextColor);
}

#menu.isOpened {
  transform: translateX(0%);
}

#globalActions {
  position: absolute;
  right: 10px;
  left:65px;
  top: 8px;
  display: flex;
  flex-flow:row nowrap;
  justify-content: flex-end;
  gap: 10px;
}

#dataActions {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  padding-top:10px;
}

#dataActions select {
  flex:1 1 auto;
  width:40%;
}