#infobar {
  position: fixed;
  top:0;
  left:70px;
  width: calc(100vw - 75px);
  display: flex;
  flex-flow: row wrap;
  font-size:18px;
  min-height: 38px;
  align-items: stretch;
  background: var(--bg);
  z-index: 200;
}

#nightMode {
  width: 35px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid transparent;
  z-index:1000;
  flex:0 0 auto;
  box-sizing: border-box;
}

#nightMode.nightMode {
  background: #cecece;
  border: 1px solid #cecece;
}

#currentEntriesCount {
  flex: 0 0 auto;
  align-self: center;
  padding: 0 10px;
}

#currentSource {
  flex: 1 1 auto;
  text-align: center;
  color:var(--appheader-title-color);
  align-self: center;
}