.burger-button {
  width: 32px;
  display: inline-flex;
  flex-flow:column  nowrap;
  justify-content: space-between;
  padding: 6px 10px;
  transition: all 0.3s ease;
}

.burger-button span {
  width: 100%;
  height: 2px;
  background: var(--burgerButtonLine);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger-button.is-active {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.burger-button.is-active span {
  width: 2px;
  height: 100%;
}

.burger-button.v2 {
  height: 30px;
  margin-left:5px;
  padding: 7px 10px;
  box-sizing: border-box;
}