#panelView {
  display: flex;
  flex-flow: column nowrap;
}

#panelActionsBlock {
  padding: 10px 5px 5px;
  flex: 0 1 auto;
  font-size: 13px;
  display: flex;
  gap: 5px;
  align-items: center;
}

#panelActionsBlock select {
  flex:0 2 auto;
  max-width: 65px;
}

#panelActionsBlock #render {
  padding-left:15px;
  padding-right:15px;
}

body:has(#menu option[value="global"]:checked) #panelActions option[value="setGlobal"],
body:has(#menu option[value="global"]:checked) #markGlobal {
  display:none;
}

#panelContainer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  font-size: 15px;
  position: relative;
}

#panelSourceContainer {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  max-height: 18vh;
}

#panelSources {
  flex: 1 0 calc(100vw - 40px);
  padding: 7px 40px 10px 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#boxesContainerOuter {
  flex: 1 0 auto;
  overflow-x: auto;
  display: flex;
  flex-flow: column nowrap;
}

#boxesContainer {
  padding: 10px;
  gap: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

#boxesContainer .itemDroppableContainer {
  flex: 1 0 49%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 1px;
  border-style: dashed;
  border-color:gray;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-content: flex-start;
}

#boxesContainer [data-box] .clear {
  position: absolute;
  z-index: 500;
  left:-5px;
  top:-5px;
  width:15px;
  height:15px;
  border-radius: 10px;
  background: var(--button-primary);
}

.panelItem {
  padding: 1px 0 2px 5px;
  border-radius: 5px;
  box-sizing: border-box;
  /* max-width: calc(25dvw - 15px); */
  /* max-width: calc(50dvw - 25px); */
  width:max-content;
  position: relative;
  background: var(--boardItem);
  border: 1px solid transparent;
}

.panelItem:has([data-current][role="meaning"]):not(.menuExpanded) {
  max-width: calc(50dvw - 15px);
  display:-webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width:min-content;
}

#box1 .panelItem {
  background-color: var(--panelBox1Bg);
  border:1px solid var(--paleBorder);
}

#box2 .panelItem {
  background-color: var(--panelBox2Bg);
  border:1px solid var(--paleBorder);
}

#box3 .panelItem {
  border:1px solid var(--paleBorder);
  background-color: var(--panelBox3Bg);
}

#box4 .panelItem {
  border:1px solid var(--paleBorder);
  background-color: var(--panelBox4Bg);
}

.fastened .panelItem {
  left: unset !important;
  top: unset !important;
}

.unfastened .panelItem {
  position:absolute;
}

.panelItem[data-tag] {
  border-color:var(--boardItemBorder);
}

.panelItem[data-tag="grammar"],
.tagsLegend [data-tag="grammar"] {
  background: 
    repeating-linear-gradient(
      30deg,
      var(--tagBgGrammar),
      var(--tagBgGrammar) 1px,
      transparent 1px,
      transparent 10px
    ),
    var(--boardItem);
}

.panelItem[data-tag="onomatopoeia"],
.tagsLegend [data-tag="onomatopoeia"] {
  background: 
    repeating-linear-gradient(
      150deg,
      var(--tagBgOnoma),
      var(--tagBgOnoma) 1px,
      transparent 1px,
      transparent 10px
    ),
    var(--boardItem);
}

.panelItem[data-tag="geo"],
.tagsLegend [data-tag="geo"] {
  background: 
    repeating-linear-gradient(
      0deg,
      var(--tagBgGeo),
      var(--tagBgGeo) 1px,
      transparent 1px,
      transparent 8px
    ),
    var(--boardItem);
}

.panelItem[data-tag="name"],
.tagsLegend [data-tag="name"] {
  background: 
    repeating-linear-gradient(
      90deg,
      var(--tagBgName),
      var(--tagBgName) 1px,
      transparent 1px,
      transparent 7px
    ),
    var(--boardItem);
}

.panelItem[data-tag="term"],
.tagsLegend [data-tag="term"] {
  background: 
    radial-gradient(var(--tagBgTerm) 1px, transparent 0px),
    var(--boardItem);
  background-repeat: repeat;
  background-size: 10px 10px, auto;
  background-position: center center;
}

.panelItem[data-tag="dialect"],
.tagsLegend [data-tag="dialect"] {
  background: 
    radial-gradient(var(--tagBgDialect) 1px, transparent 0px),
    var(--boardItem);
  background-repeat: repeat;
  background-size: 10px 10px, auto;
  background-position: center center;
}

.panelItem[data-tag="pattern"],
.tagsLegend [data-tag="pattern"] {
  background: 
    radial-gradient(var(--tagBgPattern) 3px, transparent 0px),
    var(--boardItem);
  background-repeat: repeat;
  background-size: 13px 13px, auto;
  background-position: center center;
}

.panelItem[data-tag="counter"],
.tagsLegend [data-tag="counter"] {
  background: 
    radial-gradient(var(--tagBgCounter) 2px, transparent 0px),
    var(--boardItem);
  background-repeat: repeat;
  background-size: 13px 13px, auto;
  background-position: center center;
}

.panelItem[data-tag="suffix"],
.tagsLegend [data-tag="suffix"] {
  background: 
    repeating-linear-gradient(
      0deg,
      var(--tagBgSuffix),
      var(--tagBgSuffix) 1px,
      transparent 1px,
      transparent 8px
    ),
    var(--boardItem);
}

.panelItem[data-tag="yojijukugo"],
.tagsLegend [data-tag="yojijukugo"] {
  background: 
    repeating-linear-gradient(
      30deg,
      var(--tagBgYoji),
      var(--tagBgYoji) 1px,
      transparent 1px,
      transparent 10px
    ),
    repeating-linear-gradient(
      150deg,
      var(--tagBgYoji),
      var(--tagBgYoji) 1px,
      transparent 1px,
      transparent 10px
    ),
    var(--boardItem);
}

#panelLegend {
  display:none
}

#panelContainer:has([data-tag]) #panelLegend {
  display:unset;
}

.panelItem.dragging {
  cursor: grabbing;
  opacity: 0.7;
  z-index: 1000;
}

.panelItem[data-global] {
  box-shadow: 3px 3px 7px -3px var(--boardGlobalItemShadow);
}

.panelItem .itemLine {
  display: none;
  /* overflow: hidden; */
  /* -webkit-line-clamp: 1; */
  /* -webkit-box-orient: vertical; */
  margin-right: 17px;
  /* min-height: 23px; */
  /* line-height: 140%; */
  border-radius: 10px;
  backdrop-filter: blur(3px);
  padding:0px 1px;
}

.panelItem .itemLine[data-current] {
  /* display: -webkit-box; */
  display: block;
}

.panelItem.lineExpanded .itemLine[data-current] {
  display: block;
}

.panelItem .itemLine[compact] {
  font-size: 13px;
}

.panelItem .itemLine[data-review-level="1"],
.panelItem .itemLine[data-review-level="2"],
.panelItem .itemLine[data-review-level="3"] {
  font-size: 17px;
}

.panelItem .itemLine[data-review-level="100"],
.panelItem .itemLine[data-review-level="200"],
.panelItem .itemLine[data-review-level="300"] {
  font-size: 19px;
}

.panelItem .itemLine[data-review-level="1"] {
  color:var(--revLevelMinorTextColor);
}

.panelItem .itemLine[data-review-level="2"] {
  color:var(--revLevelTextColor);
}

.panelItem .itemLine[data-review-level="3"] {
  color:var(--revLevelExtraTextColor);
}

.panelItem .itemLine[data-review-level="100"] {
  color:var(--revLevelMinorTextColor);
}

.panelItem .itemLine[data-review-level="200"] {
  color:var(--revLevelTextColor);
}

.panelItem .itemLine[data-review-level="300"] {
  color:var(--revLevelExtraTextColor);
}

.panelItem .itemActions {
  flex-flow: row nowrap;
  gap: 5px 20px;
  display: none;
  padding: 10px 1px 8px;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(3px);
}

.panelItem.menuExpanded .itemActions {
  display: flex;
}

.panelItem .itemAction,
.panelItem .lineCounter {
  cursor: pointer;
  min-width:0;
}

.panelItem > .lineCounter {
  position: absolute;
  right: 2px;
  top: 1px;
  font-size: 10px;
  backdrop-filter: blur(3px);
  padding:1px;
}

.panelItem .tapZone {
  position: absolute;
  right:-1px;
  top:-1px;
  width:25px;
  height:calc(100% + 2px);
  background: transparent;
  z-index:100;
}

.panelItem.menuExpanded .tapZone {
  display:none;
}

.panelItem .rotateCard {
  font-size: 17px;
}

.panelItem .removeItem {
  color: var(--boardRemoveItemTextColor);
  font-weight: bold;
}

.panelItem .expandLine {
  padding:0 7px;
}

.panelItem .reading {
  text-align: right;
  flex: 1 0 auto;
  height: 25px;
}

.panelItem:not(:has([data-current="true"][data-reading])) .reading {
  visibility: hidden;
}

.panelItem:not(:has([data-current="true"][data-reading])) .speakLine {
  display: none;
}

.itemDroppableContainer {
  position: relative;
}

.panelItem.menuExpanded {
  width:auto;
  max-width: unset;
  left: 5px !important;
  right: 5px !important;
  z-index: 1000 !important;
  border: 1px solid var(--boardItemMenuExpandedBorder);
  padding: 7px 10px 0;
}

body:has(.menuExpanded) {
  overflow: hidden;
}

.panelItem .infoMark {
  position: absolute;
  right:11px;
  top:-2px;
  font-size:12px;
  /* display: none; */
  backdrop-filter: blur(3px);
  padding:1px;
}

/*
#panelView:has(#studyMode:checked) .infoMark {
  display:block;
}
*/

.panelItem .itemInfo {
  position: absolute;
  left:calc(0% - 1px);
  top:calc(100% + 1px);
  display: none;
  background: var(--boardItem);
  padding:5px 10px 10px;
  font-size:15px;
  border:1px solid var(--boardItemMenuExpandedBorder);
  border-top:0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
  max-width: calc(100% - 2px);
  box-shadow: 4px 5px 7px -2px var(--boardInfoShadow);
}

.panelItem.infoShown .itemInfo {
  display:block;
}
