#tableView {
  /* position: relative; */
}

#tableActions {
  box-sizing: border-box;
  padding: 0 7px 10px;
  width: 100%;
  display:flex;
  flex-flow: row wrap;
  font-size:13px;
}

#hideModeContainer {
  display: flex;
  flex-flow: row nowrap;
  padding:0 10px;
  align-items: stretch;
}

#hideModeContainer > label {
  align-self: center;
}

#tableActions [type=checkbox] {
  margin: 0 0 0 5px;
}

#addColumn {
  padding:5px 7px;
  border-radius: 5px;
  border:1px solid gray;
  cursor: pointer;
}

#addColumn:hover {
  border-color: red
}

#addColumn:active {
  background: rgba(255, 255, 255, 0.5);
}

#table {
  border-collapse: collapse;
  font-size:15px;
  margin-bottom:30px;
  height:1px;
}

#table th {
  position: sticky;
  top:0;
  background: var(--bg);
}

#table td, #table th {
  border:1px solid gray;
}

#table th > div,
#table td .cellContentDraggable {
  box-sizing: border-box;
  padding: 5px;
  min-height:30px;
  min-width:150px;
  max-width:250px;
}

#table td .rowDrag {
  cursor: move;
  max-width:30px;
  width:40px;
  height:100%;
  box-sizing: border-box;
  padding-top:20px;
  text-align: center;
}

#table td .cellContentDraggable {
  cursor: grab;
  height:100%;
  display: flex;
  align-items: center;
  position:relative;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;  
}

#table td.hidden > .cellContentDraggable {
  cursor: -webkit-zoom-in;
}

#table td.revealed .cellContentDraggable {
  cursor:crosshair;
}

#table td .cellContentDraggable.speakable {
  color: var(--text-color-speakable);
  font-size: 17px;
}

#table td .cellContentDraggable.speakable + #table td .cellContentDraggable.speakable {
  border-top:1px solid var(--text-color-speakable);
}

#table td.over,
#table td.over > div {
  background: rgba(154, 255, 154, 0.5);
}

#table td.hidden .cellContentDraggable {
  opacity: 0 !important;
}

#table th .drag {
  margin-right:5px;
  display: inline-block;
  cursor:move;
  padding:10px;
}

#table td .cellContentDraggable.dragging,
#table td .rowDrag.dragging {
  opacity: 0.8;
  background-color: rgba(135, 207, 235, 0.63) !important;
  cursor: grabbing;
  height: 50px !important;
  width:100px !important;
  overflow: hidden;
  position: absolute !important;
}

.draggableContainer {
  /* position: relative; */
}

.draggableContainer.hidden:has([data-reading]) {  
  background: rgba(128, 128, 128, 0.178);
}

.speakme {
  position: absolute;
  cursor: pointer;
  width:20px;
  height:20px;
  border-bottom-left-radius: 10px;
  background: var(--icon-speakable-bg);
  top:0;
  right:0;
  z-index:100;
  opacity:0.5;
}

.cellContentDraggable, .draggableContainer {
  /*touch-action: none;*/
}

#table .placeholder {
  border: 2px dashed #666;
  background-color: #f0f0f0;
  opacity: 0.5;
  padding:10px;
}
#table tbody td:first-child .placeholder {
  max-width: 30px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 3px;
}

#table .ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#table .entry-info .ellipsis {
  -webkit-line-clamp: 4;
}

#table .expand,
#table .expand.expanded {
  position: absolute;
  right:2px;
  bottom:0;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  opacity:0.2;
}

.entry-info {
  font-size:12px;
  padding:5px;
  position:relative;
}

.entry-info > div {
  box-sizing: border-box;
  min-height: 30px;
  min-width: 150px;
  max-width: 250px;  
}

.info-popup {
  position: fixed;
  padding:10px;
  z-index: 1000;
  background:#c5c5c5;
  width:250px;
  font-size:14px;
  color:#00005a;
}

.info-popup .close {
  width:8px;
  height:8px;
  top:2px;
  right:2px;
  background: gray;
  cursor: pointer;
  position: absolute;
}

#table td .cellContentDraggable[data-review-level] {
  font-size:20px;
}

#table [data-review-level]::after {
  content: '•';
  opacity: .5;
  display:inline-block;
  padding-left:5px;
}

#table [data-review-level="100"]::after {
  color: #ffffcb;
  opacity: 1;
}

#table [data-review-level="200"]::after {
  color: #ffffcb;
  opacity: 1;
  content: '••'
}

#table [data-review-level="300"]::after {
  color: #ffffcb;
  opacity: 1;
  content: '•••'
}

#table [data-review-level="1"]::after {
  opacity: 1;
  color:whitesmoke;
}

#table [data-review-level="2"]::after {
  opacity: 1;
  color:whitesmoke;
}

#table [data-review-level="3"]::after {
  opacity: 1;
  color:whitesmoke;
}

#table [data-is-pronounce] {
  box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.158) inset;
  color: var(--text-color-pronounce) !important;
}