#tableView {
}

#tableActions {
  box-sizing: border-box;
  padding: 0 7px 10px;
  width: 100%;
  display:flex;
  flex-flow: row wrap;
  font-size:13px;
  gap: 10px;
  align-items: center;
}

#addColumn {
  padding:5px 7px;
  border-radius: 5px;
  border:1px solid var(--tableAddColBorder);
  cursor: pointer;
}

#addColumn:hover {
  border-color: var(--tableAddColBorderHover);
}

#addColumn:active {
  background: var(--tableAddColBorderActive);
}

#table {
  border-collapse: collapse;
  font-size:15px;
  margin-bottom:30px;
  height:1px;
}

#table tbody {
  background-color: var(--bg);
}

#table tr[data-tag] {
}

.night #table tr[data-tag] {
}

#table tr[data-tag="grammar"] {
}

#table tr[data-tag="geo"] {
}

#table tr[data-tag="name"] {
}

#table tr[data-tag="yojijukugo"] {
}

#table tr[data-tag="yojijukugo"] {
}

#table th {
  position: sticky;
  top:0;
  background: var(--bg);
}

#table td, #table th {
  border:1px solid var(--tableCellBorder);
}

#table th > div,
#table td .cellContentDraggable {
  box-sizing: border-box;
  padding: 5px;
  min-height:30px;
  min-width:150px;
  max-width:250px;
}

#table td .rowDrag {
  cursor: move;
  max-width:30px;
  width:40px;
  height:100%;
  box-sizing: border-box;
  padding-top:20px;
  text-align: center;
}

#table td .cellContentDraggable {
  cursor: grab;
  height:100%;
  display: flex;
  align-items: center;
  position:relative;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;  
}

#table td.hidden > .cellContentDraggable {
  cursor: -webkit-zoom-in;
}

#table td.revealed .cellContentDraggable {
  cursor:crosshair;
}

#table td .cellContentDraggable.speakable {
  /* color: var(--table-text-color-speakable); */
  font-size: 17px;
}

#table td .cellContentDraggable.speakable + #table td .cellContentDraggable.speakable {
  border-top:1px solid var(--table-text-color-speakable);
}

#table td.over,
#table td.over > div {
  background: var(--tableDragOverCellBg)
}

#table td.hidden .cellContentDraggable {
  opacity: 0 !important;
}

#table th .drag {
  margin-right:5px;
  display: inline-block;
  cursor:move;
  padding:10px;
}

#table td .cellContentDraggable.dragging,
#table td .rowDrag.dragging {
  opacity: 0.8;
  background-color: var(--tableDraggingBg) !important;
  cursor: grabbing;
  height: 50px !important;
  width:100px !important;
  overflow: hidden;
  position: absolute !important;
}

.draggableContainer {
  /* position: relative; */
}

.draggableContainer.hidden:has([data-reading]) {  
  background: rgba(128, 128, 128, 0.178);
}

.speakme {
  position: absolute;
  cursor: pointer;
  width:20px;
  height:20px;
  border-bottom-left-radius: 10px;
  background: var(--icon-speakable-bg);
  top:0;
  right:0;
  z-index:100;
  opacity:0.5;
}

/*
.cellContentDraggable, .draggableContainer {
  touch-action: none;
}
*/

#table .placeholder {
  border: 2px dashed var(--tablePlaceholderBorder);
  background-color: var(--tablePlaceholderBg);
  opacity: 0.5;
  padding:10px;
}
#table tbody td:first-child .placeholder {
  max-width: 30px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 3px;
}

#table .ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#table .entry-info .ellipsis {
  -webkit-line-clamp: 4;
}

#table .expand,
#table .expand.expanded {
  position: absolute;
  right:2px;
  bottom:0;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  opacity:0.2;
}

#table .entry-info {
  font-size:12px;
  padding:5px;
  position:relative;
}

#table .entry-info > div {
  box-sizing: border-box;
  min-height: 30px;
  min-width: 150px;
  max-width: 250px;  
}

.info-popup {
  position: fixed;
  padding:10px;
  z-index: 1000;
  background:var(--tableInfoPopupBg);
  width:250px;
  font-size:14px;
  color:var(--tableInfoPopupTextColor);
}

.info-popup .close {
  width:8px;
  height:8px;
  top:2px;
  right:2px;
  background: var(--tableInfoPopupCloseElBg);
  cursor: pointer;
  position: absolute;
}

#table [data-review-level] .line-text {
  border-radius: 5px;
  border-bottom-style: solid;
}

#table [data-review-level="100"] .line-text,
#table [data-review-level="200"] .line-text,
#table [data-review-level="300"] .line-text {
  color:var(--revLevelTextColor);
  border-bottom-color:var(--revLevelTextColor);
  font-size:21px !important;
}

#table [data-review-level="1"] .line-text,
#table [data-review-level="2"] .line-text,
#table [data-review-level="3"] .line-text {
  color:var(--revLevelMinorTextColor);
  border-bottom-color:var(--revLevelMinorTextColor);
  font-size:19px !important;
}

#table [data-review-level="1"] .line-text {
  border-bottom-width:0px;
}

#table [data-review-level="100"] .line-text {
  border-bottom-width:1px;
}

#table [data-review-level="2"] .line-text {
  border-bottom-width:1px;
}

#table [data-review-level="200"] .line-text {
  border-bottom-width:2px;
}

#table [data-review-level="3"] .line-text {
  border-bottom-width:2px;
}

#table [data-review-level="300"] .line-text {
  border-bottom-width:3px;
}

#table [data-is-reading] {
  color: var(--table-text-color-reading) !important;
}