#tableView {
  /* position: relative; */
}

#table {
  border-collapse: collapse;
  font-size:15px;
  margin-bottom:30px;
  height:1px;
}

#table tbody {
  /* position: relative; */
}

#table th {
  position: sticky;
  top:0;
  background: var(--bg);
}

#table td, #table th {
  border:1px solid gray;
}

#table th > div,
#table td > .cellContentDraggable {
  box-sizing: border-box;
  padding: 5px;
  min-height:30px;
  min-width:100px;
  max-width:250px;
}

#table td .rowDrag {
  padding:7px;
  cursor: move;
  max-width:30px;
}

#table td > .cellContentDraggable {
  cursor: grab;
  height:100%;
  display: flex;
  align-items: center;
  position:relative;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:10px;
}

#table td.hidden > .cellContentDraggable {
  cursor: -webkit-zoom-in;
}

#table td.revealed > .cellContentDraggable {
  cursor:crosshair;
}

#table td > .cellContentDraggable.speakable {
  color: var(--text-color-speakable);
  font-size: 17px;
}

#table td > .cellContentDraggable.speakable + #table td > .cellContentDraggable.speakable {
  border-top:1px solid var(--text-color-speakable);
}

#table td > .cellContentDraggable:active {
  cursor: grabbing;
  border-radius: 3px;
}

#table td.over,
#table td.over > div {
  background: rgba(154, 255, 154, 0.5);
}

#table td.hidden > .cellContentDraggable {
  opacity: 0 !important;
}

#tableActions {
  box-sizing: border-box;
  padding: 0 7px 10px;
  width: 100%;
  display:flex;
  flex-flow: row wrap;
  font-size:13px;
}

#hideModeContainer {
  display: flex;
  flex-flow: row nowrap;
  padding:0 10px;
  align-items: stretch;
}

#hideModeContainer > label {
  align-self: center;
}

#tableActions [type=checkbox] {
  margin: 0 0 0 5px;
}

#addColumn {
  padding:5px 7px;
  border-radius: 5px;
  border:1px solid gray;
  cursor: pointer;
}

#addColumn:hover {
  border-color: red
}

#addColumn:active {
  background: rgba(255, 255, 255, 0.5);
}

#table th .drag {
  margin-right:5px;
  display: inline-block;
  cursor:move;
  padding:10px;
}

.dragging {
  opacity: 0.8;
  background-color: rgba(135, 207, 235, 0.63);
  cursor: grabbing;
  height: 50px !important;
  width:100px;
  position: absolute !important;
}

.draggableContainer {
  /* position: relative; */
}
.draggableContainer.hidden:has([data-reading]) {  
  background: rgba(128, 128, 128, 0.178);
}

.speakme {
  position: absolute;
  cursor: pointer;
  width:20px;
  height:20px;
  border-bottom-left-radius: 10px;
  background: var(--icon-speakable-bg);
  top:0;
  right:0;
  z-index:100;
}

.cellContentDraggable, .draggableContainer {
  /*touch-action: none;*/
}

.placeholder {
  border: 2px dashed #666;
  background-color: #f0f0f0;
  opacity: 0.5;
  padding:10px;
}
