#dataView {
  padding:0 10px;
}

#input {
  width: calc(100% - 10px);
  height:150px;
  font-size:15px;
}

#output {
  font-size:17px;
  padding:20px;
}

#tests {
  padding-bottom: 10px;
}

#tests select {
  height: 30px;
  width: 150px;
}

#run {
  height: 30px;
  padding:0 20px; 
  display: inline-block;
}

#filtered {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
  vertical-align: bottom;
}
