#sliderView {
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#sliderActions {
  flex: 0 0 auto;
  font-size: 13px;
  padding:5px 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  gap: 0 3px;
  justify-content: space-between;
}

#sliderActions label {
  white-space: nowrap;
}

#cardMode {
  width:100px
}

#currentSlideIndex {
  color: var(--currentSlideIndexTextColor);
  font-size:20px;
}

#js-slider-outer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position:relative;
}

#js-slider-outer .slideActions {
  font-size:30px;
  position: fixed;
  width:50vw;
  height:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  z-index:1;
}

#js-slider-outer #batsu {
  right: 0;
}

#js-slider-outer #maru {
  left: 0;
}

#js-slider-outer #batsu::after {
  content: 'ばつ';
  display:block;
  height:100%;
  width:60px;
  text-align: center;
  line-height:100px;
  box-sizing: border-box;
  opacity:0.2;
  margin-left: 15vw;
}

#js-slider-outer #batsu.active::after {
  opacity: 1;
  color: var(--batsuActiveText)
}

#js-slider-outer #maru::after {
  content: '〇';
  display:block;
  height:100%;
  width:60px;
  text-align: center;
  line-height:100px;
  box-sizing: border-box;
  opacity:0.2;
  margin-right: 15vw;
}

#js-slider-outer #maru.active::after {
  opacity: 1;
  color: var(--maruActiveText)
}


#js-slider-outer #removeSlide {
  position: fixed;
  width:60px;
  height:60px;
  display:flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  z-index:1;
  background:var(--slideSpeakableLineBg);
}

#js-slider-outer #removeSlide::after {
  font-size:30px;
  content: '消';
  display:block;
  color:var(--bg);
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}