#sliderView {
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#sliderActions {
  flex: 0 0 40px;
  font-size: 18px;
  padding-top: 10px;
  padding-left:10px;
  box-sizing: border-box;
}

#randomSlidesOrder {
  width: 20px;
  height: 20px;
  margin: 0;
  vertical-align: bottom;
}

#cardMode {
  height: 20px;
}

/*TODO: fix*/
#js-slider-outer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}

#currentSlideIndex {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--currentSlideIndexTextColor);
  z-index: 400;
}