#sliderView {
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#sliderActions {
  flex: 0 0 auto;
  font-size: 13px;
  padding:5px 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  gap: 0 3px;
  justify-content: space-between;
}

#sliderActions label {
  white-space: nowrap;
}

#cardMode {
  width:100px
}

#currentSlideIndex {
  color: var(--currentSlideIndexTextColor);
  font-size:20px;
}

#js-slider-outer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position:relative;
}

#js-slider-outer #batsu {
  font-size:30px;
  position: fixed;
  width:100px;
  height:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  right: 0;
  z-index:1;
}

#js-slider-outer #batsu::after {
  content: 'ばつ';
  display:block;
  opacity:0.2
}

#js-slider-outer #batsu.active::after {
  opacity: 1;
  color: var(--batsuActiveText)
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}