#sliderView {
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#sliderActions {
  flex: 0 0 auto;
  font-size: 13px;
  padding:5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  gap: 0 3px;
  justify-content: space-evenly;
}

#sliderActions label {
  white-space: nowrap;
}

#currentSlideIndex {
  color: var(--currentSlideIndexTextColor);
  font-size:20px;
}

/*TODO: fix*/
#js-slider-outer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}