.dialog {
  z-index:7000;
  position: fixed;
  top:30px;
  bottom:30px;
  right: 30px;
  left:30px;
  background: var(--bg);
  padding:15px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px var(--dialogShadow), -5px -5px 8px var(--dialogShadow);
}

.dialog__overlay {
  z-index:6000;
  position:fixed;
  right:0;
  bottom:0;
  top:0;
  left:0;
  background: var(--overlay);
}

.dialog__content {
  width:100%;
  max-height:100%;
  overflow: auto;
  padding:15px;
  font-size: 15px;
}

.dialog__closeButton {
  position: absolute;
  right:10px;
  bottom:10px;
  border-radius: 10px;
  width:30px;
  height:30px;
}