.dialog {
  background: var(--bg);
  padding:15px;
  border-radius: 5px;
  box-shadow: 8px 8px 0 var(--dialogShadow);
  box-sizing: border-box;
  width:100%;
  position: relative;
}

.dialog__wrap {
  z-index:7000;
  position: fixed;
  top:30px;
  right: 30px;
  left:30px;
  bottom:30px;
  overflow:auto;
  padding: 10px;
}

.dialog__overlay {
  z-index:6000;
  position:fixed;
  right:0;
  bottom:0;
  top:0;
  left:0;
  background: var(--overlay);
}

.dialog__content {
  width:100%;
  max-height:100%;
  overflow: auto;
  padding:15px;
  font-size: 15px;
}

.dialog__closeButton {
  position: absolute;
  right:10px;
  top:10px;
  border-radius: 5px;
  width:30px;
  height:30px;
}