.keen-slider__slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: calc(99vh - 60px);
  max-height: 100vh;
}

.slide-inner {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}


.compact {
  font-size: 18px;
  font-family: sans-serif;
}

.grammar {
  background: #dcfeff
}

.night .grammar {
  background: #005266;
}

.onomat,
.onomatopoeia {
  background: #f1f0e6;
}

.night .onomat,
.night .onomatopoeia {
  background: #5a5100
}

.term {
  box-shadow: inset 0 0 10px #b1a9aa;
}

.night .term {
  box-shadow: inset 0 0 10px #a1001e;
}

.slide-side:not(.current) {
  display: none;
}

.slide-side[data-reading] {
  border-bottom: 2px dashed rgba(56, 119, 255, 0.514);
}

.slide-side {
  flex: 0;
  align-self: center;
  text-align: center;
  margin: 0 20px;
  padding: 0 0 25px;
}

.slide-side[data-pronounce] {
  position: relative;
}

.slide-side[data-pronounce]::after {
  position: absolute;
  top: -35px;
  left: 0;
  font-size: 15px;
  content: attr(data-pronounce);
  opacity: 0.1;
}

.slide-side[data-pronounce]:hover::after {
  opacity: 1;
} 

.slide-side[data-is-pronounce] {
 opacity: 0.5;
}