.keen-slider__slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 99vh;
  max-height: 100vh;
}

.slide-inner {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}


.translation {
  font-size: 18px;
  font-family: sans-serif;
}

.grammar {
  background: #dcfeff
}

.night .grammar {
  background: #005266;
}

.onomat,
.onomatopoeia {
  background: #f1f0e6;
}

.night .onomat,
.night .onomatopoeia {
  background: #5a5100
}

.term {
  box-shadow: inset 0 0 10px #b1a9aa;
}

.night .term {
  box-shadow: inset 0 0 10px #a1001e;
}

.slide-side:not(.current) {
  display: none;
}

.slide-side[data-reading] {
  border-bottom: 2px dashed rgba(56, 119, 255, 0.514);
}

.slide-side {
  flex: 0;
  align-self: center;
  text-align: center;
  margin: 0 20px;
  padding: 0 0 15px;
}