.keen-slider__slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--bg);
}

.keen-slider__slide .entry-info {
  font-size: 15px;
  background: var(--slideInfoBg);
  color: var(--slideInfoColor);
  padding:10px;
  box-sizing: border-box;
  /* margin:5px 28px 0 5px; */
  position: absolute;
  top:5px;
  right:28px;
  left:5px;
  border-radius: 5px;
  padding: 10px 10px 15px;
  border: 1px dashed var(--paleBorder);
  width: fit-content;
}

.keen-slider__slide .entry-info summary::-webkit-details-marker,
.keen-slider__slide .entry-info summary::marker {
  content:'';
  display:none;
}

.keen-slider__slide .entry-info summary {
  margin-bottom:5px;
  font-weight:bold;
  font-size:17px;
}

.keen-slider__slide .sides-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size:13px;
}

.keen-slider__slide .current-side {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size:13px;
}

.keen-slider__slide .slideReading {
  font-size: 15px;
  padding:10px;
  position: relative;
  flex: 0 0 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.slideReading::after {
  content: '';
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background: var(--slideSpeakableLineBg);
  cursor:pointer;
}

.slideReading.revealed::after {
  opacity:0;
}

.slide-inner {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.keen-slider__slide .compact {
  font-size: 18px;
  font-family: sans-serif;
}

.keen-slider__slide[data-tag]:after {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: -1;
  mix-blend-mode: lighten;
}

.night .keen-slider__slide[data-tag]:after {
  mix-blend-mode: multiply;
}

.keen-slider__slide[data-tag="grammar"]:after {
  background-image: url(../../assets/images/grammar.jpg);
}

.keen-slider__slide[data-tag="geo"]:after {
  background-image: url(../../assets/images/geo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.keen-slider__slide[data-tag="name"]:after {
  background-image: url(../../assets/images/name.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
}

.keen-slider__slide[data-tag="term"]:after {
  background-image: url(../../assets/images/term.webp);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
}

.night .keen-slider__slide[data-tag="term"]:after {
  mix-blend-mode: darken;
}

.keen-slider__slide[data-tag="pattern"]:after {
  background-image: url(../../assets/images/pattern.jpg);
  background-size: contain;
  background-repeat: repeat;
  mix-blend-mode: soft-light;
}

.night .keen-slider__slide[data-tag="pattern"]:after {
  mix-blend-mode: darken;
}

.keen-slider__slide[data-tag="counter"]:after {
  background-image: url(../../assets/images/counter.jpg);
  background-size: contain;
  background-repeat: repeat;
  mix-blend-mode: soft-light;
}

.keen-slider__slide[data-tag="counter"]:after {
  background-image: url(../../assets/images/counter.jpg);
  background-size: contain;
  background-repeat: repeat;
  mix-blend-mode: soft-light;
}


.keen-slider__slide[data-tag="suffix"]:after {
  background-image: url(../../assets/images/suffix.jpg);
  background-size: contain;
  background-repeat: repeat;
  mix-blend-mode: soft-light;
}

.keen-slider__slide[data-tag="yojijukugo"]:after {
  background-image: url(../../assets/images/yojijukugo.jpg);
  background-size: contain;
  background-repeat: repeat;
  mix-blend-mode: screen;
}

.night .keen-slider__slide[data-tag="yojijukugo"]:after {
  opacity:0.5
}

.keen-slider__slide[data-tag="onomat"]:after,
.keen-slider__slide[data-tag="onomatopoeia"]:after {
  background-image: url(../../assets/images/onomat.png);
}

.keen-slider__slide[data-tag="term"] {
  box-shadow: inset 0 0 10px var(--slideTagTermShadow);
}

.slide-side:not(.current) {
  display: none;
}

.slide-side[data-reading] {
  /* border-bottom: 2px dashed var(--slideReadableTextBorder); */
  border-bottom: 2px dashed var(--text-color);
  position: relative;
}

.slide-side {
  flex: 0;
  align-self: center;
  text-align: center;
  margin: 0 20px;
  padding: 0 0 25px;
}
