.keen-slider__slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--bg);
}

.keen-slider__slide .entry-info {
  font-size: 15px;
  background: var(--slideInfoBg);
  color: var(--slideInfoColor);
  padding:10px;
  box-sizing: border-box;
  /* margin:5px 28px 0 5px; */
  position: absolute;
  top:5px;
  right:28px;
  left:5px;
  border-radius: 5px;
  padding: 10px 10px 15px;
  border: 1px dashed var(--paleBorder);
  width: fit-content;
}

.keen-slider__slide .entry-info summary::-webkit-details-marker,
.keen-slider__slide .entry-info summary::marker {
  content:'';
  display:none;
}

.keen-slider__slide .entry-info summary {
  margin-bottom:5px;
  font-weight:bold;
  font-size:17px;
}

.keen-slider__slide .sides-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size:13px;
}

.keen-slider__slide .current-side {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size:13px;
}

.keen-slider__slide .slideReading {
  font-size: 15px;
  padding:10px;
  position: relative;
  flex: 0 0 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.slideReading::after {
  content: '';
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background: var(--slideSpeakableLineBg);
  cursor:pointer;
}

.slideReading.revealed::after {
  opacity:0;
}

.slide-inner {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  z-index: -1;
}

.keen-slider__slide .compact {
  font-size: 18px;
  font-family: sans-serif;
}

.keen-slider__slide[data-tag]:after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  mix-blend-mode: lighten;
}

.night .keen-slider__slide[data-tag]:after {
  mix-blend-mode: multiply;
}

.keen-slider__slide[data-tag="grammar"]:after {
}

.keen-slider__slide[data-tag="geo"]:after {
}

.keen-slider__slide[data-tag="name"]:after {
}

.keen-slider__slide[data-tag="term"]:after {
}

.night .keen-slider__slide[data-tag="term"]:after {
}

.keen-slider__slide[data-tag="pattern"]:after {
}

.night .keen-slider__slide[data-tag="pattern"]:after {
}

.keen-slider__slide[data-tag="counter"]:after {
}

.keen-slider__slide[data-tag="counter"]:after {
}


.keen-slider__slide[data-tag="suffix"]:after {
}

.keen-slider__slide[data-tag="yojijukugo"]:after {
}

.night .keen-slider__slide[data-tag="yojijukugo"]:after {
  opacity:0.5
}

.keen-slider__slide[data-tag="onomat"]:after,
.keen-slider__slide[data-tag="onomatopoeia"]:after {
}

.keen-slider__slide[data-tag="term"] {
}

.slide-side:not(.current) {
  display: none;
}

.slide-side[data-reading] {
  /* border-bottom: 2px dashed var(--slideReadableTextBorder); */
  border-bottom: 2px dashed var(--paleBorder);
  position: relative;
}

.slide-side {
  flex: 0;
  align-self: center;
  text-align: center;
  margin: 0 20px;
  padding: 0 0 35px;
}

.keen-slider__slide[data-review-level]::after {
  content:'';
  position: absolute;
  bottom:100px;
  width:80%;
  left:10%;
  height:50px;
  border-bottom-style: dashed;
  border-radius: 50px;
}

.keen-slider__slide[data-review-level] .slide-side {
  color:var(--revLevelMinorTextColor)
}

.keen-slider__slide[data-review-level="100"] .slide-side,
.keen-slider__slide[data-review-level="200"] .slide-side,
.keen-slider__slide[data-review-level="300"] .slide-side {
  color:var(--revLevelTextColor)
}

.keen-slider__slide[data-review-level="1"]::after {
  border-bottom-width: 1px;
}

.keen-slider__slide[data-review-level="2"]::after {
  border-bottom-width: 2px;
}

.keen-slider__slide[data-review-level="3"]::after {
  border-bottom-width: 3px;
}

.keen-slider__slide[data-review-level="1"]::after,
.keen-slider__slide[data-review-level="2"]::after,
.keen-slider__slide[data-review-level="3"]::after {
  border-bottom-color: var(--revLevelMinorTextColor);
}

.keen-slider__slide[data-review-level="100"]::after {
  border-bottom-width: 2px;
}

.keen-slider__slide[data-review-level="200"]::after {
  border-bottom-width: 3px;
}

.keen-slider__slide[data-review-level="300"]::after {
  border-bottom-width: 4px;
}

.keen-slider__slide[data-review-level="100"]::after,
.keen-slider__slide[data-review-level="200"]::after,
.keen-slider__slide[data-review-level="300"]::after {
  border-bottom-color: var(--revLevelTextColor);
}