.keen-slider__slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.slide-info {
  position: absolute;
  top: 5px;
  left:10px;
  right:40px;
  font-size: 12px;
  height:50px;
  background: #dadada;
  color: var(--text-color);
  border:0;
  padding:10px;
  box-sizing: border-box;
}

.night .slide-info {
  color: black;
  background: #555;
  font-size:12px;
}

#sides-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size:13px;
}

#current-side {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size:13px;
}

.slideReading {
  position: absolute;
  bottom: 40px;
  right:10px;
  font-size: 15px;
  padding:10px;
}

.slideReading::after {
  content: '';
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background: var(--icon-speakable-bg);
  cursor:pointer;
  border-radius: 10px;
}

.slideReading.revealed::after {
  opacity:0;
}

.slide-inner {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.compact {
  font-size: 18px;
  font-family: sans-serif;
}

.grammar {
  background: #dcfeff
}

.night .grammar {
  background: #005266;
}

.onomat,
.onomatopoeia {
  background: #f1f0e6;
}

.night .onomat,
.night .onomatopoeia {
  background: #5a5100
}

.term {
  box-shadow: inset 0 0 10px #b1a9aa;
}

.night .term {
  box-shadow: inset 0 0 10px #a1001e;
}

.slide-side:not(.current) {
  display: none;
}

.slide-side[data-reading] {
  border-bottom: 2px dashed rgba(56, 119, 255, 0.514);
  position: relative;
}

.slide-side {
  flex: 0;
  align-self: center;
  text-align: center;
  margin: 0 20px;
  padding: 0 0 25px;
}
