.transcription {
  font-size: 18px;
  font-family: sans-serif;
}

.grammar {
  background: #dcfeff
}

.night .grammar {
  background: #005266;
}

.onomat,
.onomatopoeia {
  background: #f1f0e6;
}

.night .onomat,
.night .onomatopoeia {
  background: #5a5100
}

.term {
  box-shadow: inset 0 0 10px #b1a9aa;
}

.night .term {
  box-shadow: inset 0 0 10px #a1001e;
}