.keen-slider__slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: column nowrap;
}

.slide-info {
  /* position: absolute; */
  top: 5px;
  left:10px;
  right:40px;
  font-size: 12px;
  height:50px;
  background: var(--slideInfoBg);
  color: var(--slideInfoColor);
  border:0;
  padding:10px;
  box-sizing: border-box;
  flex: 0 1 auto;
}

#sides-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size:13px;
}

#current-side {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size:13px;
}

.slideReading {
  font-size: 15px;
  padding:10px;
  position: relative;
  flex: 0 0 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.slideReading::after {
  content: '';
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background: var(--icon-speakable-bg);
  cursor:pointer;
}

.slideReading.revealed::after {
  opacity:0;
}

.slide-inner {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.compact {
  font-size: 18px;
  font-family: sans-serif;
}

.grammar {
  background: var(--slideTagGrammarBg)
}

.onomat,
.onomatopoeia {
  background: var(--slideTagOnomatBg);
}

.term {
  box-shadow: inset 0 0 10px var(--slideTagTermShadow);
}

.slide-side:not(.current) {
  display: none;
}

.slide-side[data-reading] {
  border-bottom: 2px dashed var(--slideReadableTextBorder);
  position: relative;
}

.slide-side {
  flex: 0;
  align-self: center;
  text-align: center;
  margin: 0 20px;
  padding: 0 0 25px;
}
