#boardView {
  display: flex;
  flex-flow: column nowrap;
}

#boardActions {
  padding:0 10px;
  flex: 0 1 auto;
}

#boardContainer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  font-size:15px;
}

#boardSourceCards {
  padding:10px;
  flex: 0 0 auto;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#boardColsContainerOuter {
  flex: 1 0 auto;
  overflow-x: auto;
  display: flex;
  flex-flow: column nowrap;
}

#boardColsContainer {
  padding:10px;
  gap:10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 0 auto;
}

#boardGoodCol,
#boardFailedCol {
  flex: 1 0 80vw;
  min-height: 300px;
  padding: 10px;
  display: flex;
  flex-flow:row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

#boardGoodCol {
  border:1px solid rgb(0, 145, 82);
}

#boardFailedCol {
  border:1px solid rgb(207, 0, 0);
}

.boardItem {
  max-width: 200px;
  border: 1px solid gray;
  border-radius: 5px;
  padding:10px 15px 10px 35px;
  background: rgba(128, 128, 128, .2);
  transition: transform .2s; 
  position: relative;
}

.boardItem.dragging {
  background: rgba(124, 115, 115, 0.49);
  cursor: grabbing;
}

/*
.boardItem:hover {
  transform: scale(1.3);
}
*/

.boardItem .dragHandle {
  width:30px;
  height:100%;
  line-height: 38px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left:0;
  top:0;
  cursor: grab;
}

.boardItem .itemLine {
  display: none;
}

.boardItem .itemLine[current] {
  display: block;
}

#boardView .placeholder {
  width: 100px;
  height:40px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  padding:10px 15px 10px 35px;
  background: rgba(128, 128, 128, .2);
  position: relative;
}

/* .boardItem, .itemDroppableContainer {
  touch-action: none;
} */