#boardView {
  display: flex;
  flex-flow: column nowrap;
}

#boardActions {
  padding:10px;
  flex: 0 1 auto;
  font-size:14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#boardContainer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  font-size:17px;
}

#boardSourceCards {
  padding:10px;
  flex: 0 0 auto;
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#boardColsContainerOuter {
  flex: 1 0 auto;
  overflow-x: auto;
  display: flex;
  flex-flow: column nowrap;
}

#boardColsContainer {
  padding:10px;
  gap:10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 0 auto;
}

#boardGoodCol,
#boardFailedCol {
  flex: 1 0 80vw;
  min-height: 300px;
  padding: 10px;
  display: flex;
  flex-flow:column wrap;
  justify-content: flex-start;
  border-radius: 10px;
  gap: 20px;
}

#boardGoodCol {
  align-items: flex-end;
  align-content: flex-end;
  border:1px solid rgb(84 215 158);
  box-shadow: 0px 0px 44px 20px rgb(117 247 230 / 20%) inset;
}

.night #boardGoodCol {
  border:1px solid rgb(0, 145, 82);
  box-shadow: 0px 0px 44px 20px rgb(77 77 77 / 95%) inset;
}

#boardFailedCol {
  align-content: flex-start;
  align-items: flex-start;
  border:1px solid rgb(164 26 41 / 40%);
  box-shadow: 0px 0px 44px 20px rgb(255 158 184 / 27%) inset;
}

.night #boardFailedCol {
  border:1px solid rgb(158 0 0);
  box-shadow: 0px 0px 44px 20px rgba(195, 0, 52, 0.28) inset;
}

.boardItem {
  max-width: 300px;
  min-height: 29px;
  box-sizing: border-box;
  border-radius: 5px;
  padding:2px 7px 4px;
  background: rgb(255 245 245 / 74%);
  transition: transform .2s; 
  position: relative;
  overflow: hidden;
}

.night .boardItem {
  background: rgb(19 0 0 / 46%);
}

.boardItem .itemLine[compact] {
  font-size:15px;
}

.boardItem.dragging {
  cursor: grabbing;
  opacity: 0.7;
  overflow: hidden;
}

.boardItem .itemLine {
  display: none;
}

.boardItem .itemLine[data-current] {
  display: block;
}

#boardView .placeholder {
  padding:2px 7px 4px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  background: rgba(130, 200, 205, 0.3);
  position: relative;
  min-height: 29px;
  box-sizing: border-box;
  opacity: 0.7;
}

/* .boardItem, .itemDroppableContainer {
  touch-action: none;
} */

.itemDroppableContainer {
  position: relative;
}