#boardView {
  display: flex;
  flex-flow: column nowrap;
}

#boardActions {
  padding:10px;
  flex: 0 1 auto;
  font-size:14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

[for="studyMode"] {
  position: fixed;
  top:48px;
  right:10px;
  background: var(--bg);
}

#studyMode {
  width: 20px;
  height: 20px;
}

#boardContainer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  font-size:17px;
}

#boardSourceCardsOuter {
  flex: 0 0 auto;
  display: flex;
  flex-flow:row nowrap;
  overflow: auto;
  max-height: 25vh;
}

#boardSourceCards {
  flex: 1 0 calc(100vw - 40px);
  padding:10px;
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#boardColsContainerOuter {
  flex: 1 0 auto;
  overflow-x: auto;
  display: flex;
  flex-flow: column nowrap;
}

#boardColsContainer {
  padding:10px;
  gap:10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 0 auto;
}

#boardGoodCol,
#boardFailedCol,
#boardLearnCol {
  flex: 1 0 70vw;
  min-height: 300px;
  padding: 10px;
  display: flex;
  flex-flow:row wrap;
  border-radius: 10px;
  gap: 10px;
  border-width: 2px;
  border-style: dashed;
  align-content: flex-start;
}

#boardGoodCol {
  justify-content: flex-start;
  border-color:rgb(146 204 179);
}

.night #boardGoodCol {
  border-color:rgb(0 119 109);
}

#boardFailedCol {
  justify-content: flex-end;
  border-color:rgb(219 146 146);
}

.night #boardFailedCol {
  border-color:rgb(159 0 0);
}

#boardLearnCol {
  flex: 1 0 40vw;
  justify-content: center;
  border-color:rgb(146, 180, 219);
}

.night #boardLearnCol {
  border-color:rgb(85, 126, 160);
}

.boardItem,
#boardView .placeholder {
  padding:2px 7px 4px;
  border-radius: 5px;
  box-sizing: border-box;
  min-height: 29px;
  max-width: calc(100vw - 20px);
  position: relative;
}

#boardView .placeholder {
  background: rgba(130, 200, 205, 0.3);
  opacity: 0.7;
  font-size:15px;
  overflow: hidden;
  height:29px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.boardItem {
  background: #fbf2f2;
}

.boardItem.dragging {
  cursor: grabbing;
  opacity: 0.7;
  z-index: 1000;
}

.night .boardItem {
  background: #320008;
}

.boardItem .itemLine {
  display: none;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-right:15px;
  min-height:25px;
  line-height: 140%;
}

.boardItem .itemLine[data-current] {
  display: -webkit-box;
}

.boardItem.lineExpanded .itemLine[data-current] {
  display:block;
}

.boardItem .itemLine[compact] {
  font-size:15px;
}

.boardItem .itemActions {
  flex-flow: row nowrap;
  gap:10px 20px;
  display: none;
  padding: 10px 0 5px;
  align-items:center;
}

.boardItem.menuExpanded .itemActions {
  display: flex;
}

.boardItem .itemAction,
.boardItem .lineCounter {
  cursor: pointer;
}

.boardItem .rotateCard {
  font-size:17px;
}

.boardItem .removeItem {
  color:red;
  font-weight: bold;
}

.boardItem .reading {
  text-align: right;
  flex: 1 0 auto;
  height:25px;
}

.boardItem:not(:has([data-current="true"][data-reading])) .reading {
  visibility: hidden;
}

.boardItem:not(:has([data-current="true"][data-reading])) .speakLine,
#boardView:not(:has(#studyMode:checked)) .itemActions, 
#boardView:not(:has(#studyMode:checked)) .menuExpanded .itemActions {
  display:none;
}

#boardView:not(:has(#studyMode:checked)) .toggleItemMenu {
  display:none;
}

/* .boardItem, .itemDroppableContainer {
  touch-action: none;
} */

.itemDroppableContainer {
  position: relative;
}

.boardItem.menuExpanded {
  position: fixed;
  left:10px;
  right:20px;
  z-index:1000;
  border: 1px solid#a6cecf;
  padding:7px 10px 3px;
}

.night .boardItem.menuExpanded {
  border: 1px solid#6b526d;
}

body:has(.menuExpanded) {
  overflow: hidden;
}