.dropdown-menu {
  position: absolute;
  top: 0;
  background: var(--bg);
  border-radius: 0 5px 5px 5px;
  border: 1px solid var(--button-secondary);
  box-shadow: 4px 4px 0 var(--viewActionsDropdownShadow);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-menu.hidden {
  display: none;
}

.dropdown-item {
  padding: 6px 13px;
  cursor: pointer;
  width:max-content;
}

.dropdown-list {
  list-style:none;
  padding:5px 0 7px;
  margin:0;
}