.dropdown-menu {
  position: absolute;
  top: 0;
  background: var(--button-secondary);
  /* border: 1px solid var(--viewActionsDropdownShadow); */
  box-shadow: 4px 4px 0 var(--viewActionsDropdownShadow);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  font-size:16px;
  color:var(--viewActionDropdownText)
}

.dropdown-menu.hidden {
  display: none;
}

.dropdown-list {
  list-style:none;
  padding:5px 10px 7px;
  margin:0;
}

.dropdown-item {
  padding: 10px 13px;
  cursor: pointer;
  width:max-content;
}

.dropdown-menu.sourcesList {
  position:fixed;
  max-height: none;
  bottom:20px;
  right:20px !important;
  left:20px !important;
  max-height:none;
  margin-top: 7px;
}

.dropdown-menu.sourcesList .dropdown-list {
  padding-left:0;
  padding-right:0;
}

.dropdown-menu.sourcesList .dropdown-item {
  padding: 12px 13px;
  cursor: pointer;
  display:block;
  width:auto;
}

.dropdown-menu.sourcesList .dropdown-item:not(:first-child) {
  border-top:1px solid var(--veiwActionDropdownItemBorder)
}

.dropdown-menu.sourcesList .dropdown-item.selected {
  background: var(--viewActionDropdownItemSelected)
}