.dropdown-menu {
  position: absolute;
  top: 0;
  background: var(--button-secondary);
  /* border: 1px solid var(--viewActionsDropdownShadow); */
  box-shadow: 4px 4px 0 var(--viewActionsDropdownShadow);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  font-size:16px;
  color:var(--viewActionDropdownText)
}

.dropdown-menu.hidden {
  display: none;
}

.dropdown-item {
  padding: 10px 13px;
  cursor: pointer;
  width:max-content;
}

.dropdown-list {
  list-style:none;
  padding:5px 10px 7px;
  margin:0;
}