.preloader-shown {
  overflow: hidden;
}

#preloaderView {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: var(--preloader-bg);
  z-index: 9000;
}

#preloader,
#preloader:after {
  box-sizing: border-box;
}

#preloader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left:calc(50% - 40px);
  top:calc(50% - 40px);
}

#preloader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid var(--preloader-color);
  border-color: var(--preloader-color) transparent var(--preloader-color) transparent;
  animation: review-ring 1.2s linear infinite;
}

@keyframes review-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

